.wrapper {
  padding: 4rem 1rem;
  background-color: #ffe3b3; /* Kiwi light cream background */
  text-align: center;
}

.heading {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
  color: #028174; /* Deep Kiwi green */
}

.logoGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.logoItem {
  flex: 1 1 120px;
  max-width: 150px;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logoItem:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logoItem img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  filter: grayscale(20%);
  opacity: 0.8;
  transition: filter 0.3s ease, opacity 0.3s ease;
  border-radius: 10px;
}

.testimonialsGrid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .testimonialsGrid {
    flex-direction: row;
  }
}

.testimonialCard {
  flex: 1;
  padding: 1.5rem;
  border-left: 4px solid var(--primary-color);
  background: #f9f9f9;
  border-radius: 8px;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.2px solid #555;
}

.photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.clientInfo {
  line-height: 1.4;
  color: #555;
  text-align: left;
}

.comment {
  font-style: italic;
  color: #333;
}

@media (max-width: 768px) {
  .heading {
    font-size: 1.5rem;
  }

  .logoItem {
    flex: 1 1 40%;
    max-width: 120px;
  }

  .logoGrid {
    gap: 1.5rem;
  }

  .testimonialCard {
    padding: 1rem;
  }
  .profile {
    margin-bottom: 0.5rem;
  }
  .clientInfo {
    font-size: 0.9rem;
  }
}
