:root {
  --font-primary: var(--font-inter);
}

body {
  font-family: var(--font-primary);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  max-width: 100%;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.layout-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin-top: 2rem;
  flex: 1;
}
